#ifndef @VAR_UPPER_MODULE_NAME@_CONFIG_H
#define @VAR_UPPER_MODULE_NAME@_CONFIG_H

#define CONF_@VAR_UPPER_MODULE_NAME@_SHARED_LIB @IS_SHARED_LIB@

#if defined(@VAR_UPPER_MODULE_NAME@_BUILD_SHARED_LIB)
    #define CONF_@VAR_UPPER_MODULE_NAME@_BUILD_SHARED_LIB 1
#else
    #define CONF_@VAR_UPPER_MODULE_NAME@_BUILD_SHARED_LIB 0
#endif

#endif
